<div class="container py-5 text-white">
  <h2 class="mb-4">👤 Hesabım - {{ userEmail }}</h2>

  <div class="card bg-dark border-secondary mb-4 shadow" style="max-width: 500px; margin: auto;">
    <div class="card-body">
      <h5 class="card-title text-center text-warning mb-3">📊 Anket Etkileşim Grafiği</h5>
      <canvas baseChart
              [data]="doughnutChartData"
              [type]="doughnutChartType"
              [options]="doughnutChartOptions"
              style="height: 250px;"></canvas>
    </div>
  </div>


  <h4 class="text-info">📌 Oluşturduğum Anketler</h4>
  <ng-container *ngIf="createdPolls.length > 0; else noCreated">
    <ul class="list-group mb-4">
      <li class="list-group-item bg-dark text-white border-info d-flex justify-content-between align-items-center"
        *ngFor="let poll of createdPolls">
        <span>{{ poll.title }}</span>
        <div class="d-flex gap-2">
          <button class="btn btn-outline-light btn-sm" (click)="goToResult(poll.id)">Ankete Git</button>
          <button class="btn btn-outline-warning btn-sm" (click)="editPoll(poll.id)">Düzenle</button>
          <button class="btn btn-outline-warning btn-sm" (click)="confirmDelete(poll.id)">Sil</button>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-template #noCreated>
    <p>Henüz anket oluşturmadınız.</p>
  </ng-template>

  <h4 class="text-success">🗳️ Katıldığım Anketler</h4>
  <ng-container *ngIf="votedPolls.length > 0; else noVoted">
    <ul class="list-group">
      <li class="list-group-item bg-dark text-white border-success d-flex justify-content-between align-items-center"
        *ngFor="let poll of votedPolls">
        {{ poll.title }}
        <button class="btn btn-outline-light btn-sm" (click)="goToResult(poll.id)">Ankete Git</button>
      </li>
    </ul>
  </ng-container>
  <ng-template #noVoted>
    <p>Henüz oyladığınız bir anket yok.</p>
  </ng-template>



</div>