<div class="container py-5 text-white">
  <h2 class="mb-4">👤 Hesabım - {{ userEmail }}</h2>

  <h4 class="text-info">📌 Oluşturduğum Anketler</h4>
  <ng-container *ngIf="createdPolls.length > 0; else noCreated">
    <ul class="list-group mb-4">
      <li class="list-group-item bg-dark text-white border-info d-flex justify-content-between align-items-center"
        *ngFor="let poll of createdPolls">
        {{ poll.title }}
        <button class="btn btn-outline-light btn-sm" (click)="goToResult(poll.id)">Ankete Git</button>
      </li>
    </ul>
  </ng-container>
  <ng-template #noCreated>
    <p>Henüz anket oluşturmadınız.</p>
  </ng-template>

  <h4 class="text-success">🗳️ Katıldığım Anketler</h4>
  <ng-container *ngIf="votedPolls.length > 0; else noVoted">
    <ul class="list-group">
      <li class="list-group-item bg-dark text-white border-success d-flex justify-content-between align-items-center"
        *ngFor="let poll of votedPolls">
        {{ poll.title }}
        <button class="btn btn-outline-light btn-sm" (click)="goToResult(poll.id)">Ankete Git</button>
      </li>
    </ul>
  </ng-container>
  <ng-template #noVoted>
    <p>Henüz oyladığınız bir anket yok.</p>
  </ng-template>



</div>